h1{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium';
    padding-left: 30px;
}

.hudd{
    font-family: Segoe Print;
    padding-left: 30px;
}

.hd{
    float: right;
    padding-right: 30px;
}

.b{
    font-family: Segoe Print;
    font-weight: bold;
    background-color: deeppink;
    border: none;
    padding: 15px;
    border-radius: 30px;
    color: whitesmoke;
    width: 250px;
    font-size: 15px;
    cursor: pointer;
}

.hud{
    background-image: url(../img/bg-hero-desktop.svg);
        
}

.bb{
    display: flex;
    padding-left: 30px;
}

.t{
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    border: none;
    padding: 15px;
    border-radius: 30px;
    background-color: lavender;
    width: 200px;
    font-size: 16px;
    cursor: pointer;
    
    
}

.tt{
    display: flex;
    justify-content: right;
    align-items: left;
    padding-right: 30px;
    margin-top: -50px;
}

.i{
    padding-left: 30px;
}

.gt{
    float: right;
    
}

.gen{
    font-size: 23px;
    color: gray;
    padding-left: 100px;
    
}

.ggt{
    padding-left: 100px;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium';
}

.s{
    border-radius: 10px;
    background-color: white;
    height: 500px;
    margin-left: 30px;
    margin-right: 30px;
    border: 5px solid whitesmoke;
    width: auto;
}

.f{
    border-radius: 10px;
    background-color: white;
    height: 500px;
    margin-left: 30px;
    margin-right: 30px;
    border: 5px solid whitesmoke;
    width: auto;
}

.fc{
    font-size: 35px;
    font-family: 'Franklin Gothic Medium';
    text-align: center;
    padding-left: 430px;
       
}

.flo{
    font-size: 23px;
    color: gray;
    font-size: 23px;
    display: flex;
    justify-content: end;
    align-items: end;
    padding-right: 30px;
}


.ff{
    float: left;
    
}

.y{
    border-radius: 10px;
    background-color: white;
    height: 500px;
    margin-left: 30px;
    margin-right: 30px;
    border: 5px solid whitesmoke;
    width: auto;
}

.yu{
    padding-left: 100px;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium';
}

.yy{
    font-size: 23px;
    color: gray;
    padding-left: 100px;
}

.you{
    float: right;
    
}

.rr{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium';
    padding-left: 30px;
    text-align: center;
}

.last{
    border-radius: 10px;
    background-color: white;
    height: 180px;
    margin-left: 360px;
    margin-right: 300px;
    padding-right: 20px;
    border: 5px solid whitesmoke;
    z-index: 2;
    position: absolute;
    margin-top: -110px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;

}

.ll{
    font-family: Segoe Print;
    font-weight: bold;
    background-color: deeppink;
    border: none;
    padding: 15px;
    border-radius: 30px;
    color: whitesmoke;
    width: 250px;
    font-size: 15px;
    cursor: pointer;
}

.ls{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}

.end{
    background-color: rgb(4, 28, 59);
    height: 500px;
    z-index: 1;
}

.hard{
    font-size: 17px;
    color: white;
    font-family: 'Franklin Gothic Medium';
}

.et{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 300px;
}


.next{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 300px;
    
}

.box{
   padding-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lp{
    float: left;
    padding-left: 20px;
    margin-top: -267px;
}

.lorem{
    font-size: 18px;
    color: white;
    padding-left: 50px;
    margin-top: -270px;
}

.pho{
    float: left;
    padding-left: 20px;
    margin-top: -165px;
}

.phone{
    font-size: 20px;
    color: white;
    padding-left: 50px;
    margin-top: 40px;
    font-weight: bold;
}

.ema{
    float: left;
    padding-left: 20px;
    margin-top: -100px;
}

.email{
    font-size: 20px;
    color: white;
    padding-left: 50px;
    margin-top: 43px;
}

.cp{
    display: flex;
    justify-content: end;
    align-items: end;
    padding-right: 30px;
    color: white;
    padding-top: 20px;
}